---
import Boton from "../../../components/Button.astro";
import ProjectCard from "../../../components/ProjectCard.astro";

import { Image } from "astro:assets";
---

<ProjectCard
  titulo="Trabajo de fin de grado"
  link="https://github.com/josuejx/tfg_auction"
  img="/tfg_auction.webp"
  imgAlt="Imagen del proyecto TFG"
>
  <div class="flex justify-start space-x-2">
    <a href="https://flutter.dev/" target="_blank" rel="noopener noreferrer">
      <Image
        src="https://img.shields.io/badge/Flutter-%2302569B.svg?style=for-the-badge&logo=Flutter&logoColor=white"
        alt="Flutter Badge"
        width={90}
        height={50}
      />
    </a>
    <a href="https://firebase.google.com/" target="_blank" rel="noopener noreferrer">
      <Image
        src="https://img.shields.io/badge/firebase-%23039BE5.svg?style=for-the-badge&logo=firebase"
        alt="Firebase Badge"
        width={95}
        height={50}
      />
    </a>
  </div>

  <p class="mb-3 text-base font-normal text-gray-700 dark:text-gray-400">
    Aplicación Multiplataforma de un sistema de subastas online.
  </p>

  <div class="flex justify-end pt-3 space-x-1">
    <Boton
      link="https://github.com/josuejx/tfg_auction"
      icon="github"
      text="GitHub"
      color="blue"
    />
    <Boton
      link="https://rua.ua.es/dspace/bitstream/10045/136605/1/Desarrollo_de_una_aplicacion_multiplataforma_de_subastas_Garcia_Asensi_Josue.pdf"
      icon="file-earmark-font"
      text="Documentación"
      color="yellow"
    />
  </div>
</ProjectCard>
