---
import TimeLineExperience from "../../components/TimeLineExperience.astro";
---

<section id="experience" class="flex flex-col">
    <div>
      <h2 class="text-2xl font-bold mb-10">Experiencia</h2>
      <div class="ml-5">
        <ol class="relative border-s border-gray-200 dark:border-gray-700">
          <TimeLineExperience
            titulo="Accenture"
            rol="Mobile Developer"
            icono="briefcase"
            fecha="may. 2024 - actualidad"
          >
          </TimeLineExperience>
          <TimeLineExperience
            titulo="Akra Informática Coop. V."
            rol="Software Developer"
            icono="briefcase"
            fecha="jun. 2022 - may. 2024"
          >
            <ul
              class="text-base font-normal text-gray-600 dark:text-gray-300"
            >
              <li>
                Desarrollador Fullstack, Multiplataforma y Web de nuevas
                aplicaciones.
              </li>
              <li>
                Mantenimiento de aplicaciones existentes y desarrollo de
                nuevas funcionalidades.
              </li>
              <li>Análisis y diseño de soluciones a medida.</li>
            </ul>
          </TimeLineExperience>
        </ol>
      </div>
    </div>
  </section>