---
import { Image } from "astro:assets";
import avatar from "../../../public/avatar.webp";
import Social from "../../components/Social.astro";
---

<section id="introduction">
  <div class="flex justify-start pt-5 items-center">
    <Image
      src={avatar}
      loading="eager"
      alt="Josué García Asensi"
      class="w-24 h-24 rounded-full ring-2 ring-black dark:ring-white"
    />
    <div class="ml-4">
      <h2 class="text-2xl font-bold text-blue-600 dark:text-blue-400">
        Josué GA
      </h2>
      <p class="text-sm">Fullstack Developer</p>
      <Social />
    </div>
  </div>
  
  <div class="mt-5 text-base">
    <p>
      He vivido y estudiado en China durante 15 años y me considero una
      persona con mucha capacidad de adaptación y resolutiva. Por la influencia de la eduación oriental, 
      se me ha enseñado siempre a aprender y a trabajar de forma continua y enérgica.
    </p>
    <br />
    <p>
      Me gusta mucho el mundo de la programación y la tecnología, mi
      objetivo es dar lo mejor de mí en cada proyecto que se me presente.
    </p>
  </div>
</section>