---
import Boton from "../../components/Button.astro";
import ProjectCard from "../../components/ProjectCard.astro";

// --- Projects
import ProjectTFG from "./projects/ProjectTFG.astro";
import Projectportfolio from "./projects/Projectportfolio.astro";
---

<section id="projects" class="mb-10">
    <h2 class="text-2xl font-bold mb-10">Proyectos</h2>
    <div class="grid md:grid-cols-2 gap-4">
      <ProjectTFG />
      <Projectportfolio />
      <ProjectCard
        titulo="Proyecto 3"
        link="https://www.google.com"
        img="/proyecto_prueba.png"
        imgAlt="Imagen del proyecto 3"
      />
      <ProjectCard
        titulo="Proyecto 4"
        link="https://www.google.com"
        img="/proyecto_prueba.png"
        imgAlt="Imagen del proyecto 4"
      />
    </div>
  </section>