---
import TimeLineExperience from "../../components/TimeLineExperience.astro";
---

<section id="studies" class="flex flex-col">
    <div>
      <h2 class="text-2xl font-bold mb-10">Estudios</h2>
    </div>
    <div class="ml-5">
      <ol class="relative border-s border-gray-200 dark:border-gray-700">
        <TimeLineExperience
          titulo="Universidad Internacional de La Rioja (UNIR)"
          icono="cpu"
          fecha="oct. 2023 - jul. 2024"
        >
          <p
            class="mb-4 text-base font-normal text-gray-600 dark:text-gray-300"
          >
            Máster Oficial en Inteligencia Artificial
          </p>
        </TimeLineExperience>

        <TimeLineExperience
          titulo="UA - Universidad de Alicante"
          icono="laptop"
          fecha="sept. 2019 - jul. 2023"
        >
          <p class="text-base font-normal text-gray-600 dark:text-gray-300">
            Grado en Ingeniería Informática
          </p>
        </TimeLineExperience>
        <TimeLineExperience
          titulo="IES Francisco Figueras Pacheco"
          icono="building"
          fecha="sept. 2017 - jun. 2019"
        >
          <p class="text-base font-normal text-gray-600 dark:text-gray-300">
            Bachillerato de Ciencias y Tecnología
          </p>
        </TimeLineExperience>
        <TimeLineExperience
          titulo="Ling Ling Middle School, Shanghai, China"
          icono="building"
          fecha="sept. 2011 - jul. 2016"
        >
          <p class="text-base font-normal text-gray-600 dark:text-gray-300">
            Educación Secundaria Obligatoria (ESO)
          </p>
        </TimeLineExperience>
      </ol>
    </div>
  </section>