---
import Toggle from "../components/Toggle.astro";
import Cuentas from "../components/Cuentas.astro";
import TimeLineExperiencia from "../components/TimeLineExperiencia.astro";
import ProjectCard from "../components/ProjectCard.astro";
import Footer from "../components/Footer.astro";
import ContactForm from "../components/ContactForm.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Portfolio de Josué García Asensi" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body class="bg-slate-100 dark:bg-slate-800 text-black dark:text-white">
    <header class="flex justify-between items-center">
      <h1 class="text-3xl font-bold">JGA</h1>
      <Toggle />
    </header>
    <main>
      <section id="sobre-mi" class="flex justify-start pt-5">
        <img
          src="/avatar.jpg"
          alt="Josué García Asensi"
          class="w-24 h-24 rounded-full"
        />
        <div class="ml-4">
          <h2 class="text-2xl font-bold text-blue-600 dark:text-blue-400">Josué GA</h2>
          <p class="text-sm">
            Fullstack Developer
          </p>
          <Cuentas />
        </div>
      </section>
      <hr class="my-12 h-0.5 border-t-0 bg-black dark:bg-white/10" />
      <section id="experiencia" class="flex flex-col">
        <div>
          <h2 class="text-2xl font-bold mb-10">Experiencia</h2>
          <div class="ml-5">
            <ol class="relative border-s border-gray-200 dark:border-gray-700">
              <TimeLineExperiencia
              titulo="Akra Informática Coop. V."
              icono="M20.25 14.15v4.25c0 1.094-.787 2.036-1.872 2.18-2.087.277-4.216.42-6.378.42s-4.291-.143-6.378-.42c-1.085-.144-1.872-1.086-1.872-2.18v-4.25m16.5 0a2.18 2.18 0 0 0 .75-1.661V8.706c0-1.081-.768-2.015-1.837-2.175a48.114 48.114 0 0 0-3.413-.387m4.5 8.006c-.194.165-.42.295-.673.38A23.978 23.978 0 0 1 12 15.75c-2.648 0-5.195-.429-7.577-1.22a2.016 2.016 0 0 1-.673-.38m0 0A2.18 2.18 0 0 1 3 12.489V8.706c0-1.081.768-2.015 1.837-2.175a48.111 48.111 0 0 1 3.413-.387m7.5 0V5.25A2.25 2.25 0 0 0 13.5 3h-3a2.25 2.25 0 0 0-2.25 2.25v.894m7.5 0a48.667 48.667 0 0 0-7.5 0M12 12.75h.008v.008H12v-.008Z"
              fecha="jun. 2022 - Actualidad"
            >
              <ul
                class="text-base font-normal text-gray-500 dark:text-gray-400"
              >
                <li>
                  Desarrollador Fullstack, Multiplataforma y Web de nuevas
                  aplicaciones.
                </li>
                <li>
                  Mantenimiento de aplicaciones existentes y desarrollo de
                  nuevas funcionalidades.
                </li>
                <li>Análisis y diseño de soluciones a medida.</li>
              </ul>
            </TimeLineExperiencia>	
            </ol>
          </div>
        </div>
      </section>
      <section id="estudios" class="flex flex-col">
        <div>
          <h2 class="text-2xl font-bold mb-10">Estudios</h2>
        </div>
        <div class="ml-5">
          <ol class="relative border-s border-gray-200 dark:border-gray-700">
            <TimeLineExperiencia
              titulo="Universidad Internacional de La Rioja (UNIR)"
              icono="M8.25 3v1.5M4.5 8.25H3m18 0h-1.5M4.5 12H3m18 0h-1.5m-15 3.75H3m18 0h-1.5M8.25 19.5V21M12 3v1.5m0 15V21m3.75-18v1.5m0 15V21m-9-1.5h10.5a2.25 2.25 0 0 0 2.25-2.25V6.75a2.25 2.25 0 0 0-2.25-2.25H6.75A2.25 2.25 0 0 0 4.5 6.75v10.5a2.25 2.25 0 0 0 2.25 2.25Zm.75-12h9v9h-9v-9Z"
              fecha="Oct. 2023 - jul. 2024"
            >
              <p
                class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400"
              >
                Máster Inteligencia Artificial
              </p>
            </TimeLineExperiencia>
            		  
            <TimeLineExperiencia
              titulo="UA - Universidad de Alicante"
              icono="M9 17.25v1.007a3 3 0 0 1-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0 1 15 18.257V17.25m6-12V15a2.25 2.25 0 0 1-2.25 2.25H5.25A2.25 2.25 0 0 1 3 15V5.25m18 0A2.25 2.25 0 0 0 18.75 3H5.25A2.25 2.25 0 0 0 3 5.25m18 0V12a2.25 2.25 0 0 1-2.25 2.25H5.25A2.25 2.25 0 0 1 3 12V5.25"
              fecha="sept. 2019 - jul. 2023"
            >
              <p class="text-base font-normal text-gray-500 dark:text-gray-400">
                Grado en Ingeniería Informática
              </p>
            </TimeLineExperiencia>
            <TimeLineExperiencia
              titulo="IES Francisco Figueras Pacheco"
              icono="M4.26 10.147a60.438 60.438 0 0 0-.491 6.347A48.62 48.62 0 0 1 12 20.904a48.62 48.62 0 0 1 8.232-4.41 60.46 60.46 0 0 0-.491-6.347m-15.482 0a50.636 50.636 0 0 0-2.658-.813A59.906 59.906 0 0 1 12 3.493a59.903 59.903 0 0 1 10.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.717 50.717 0 0 1 12 13.489a50.702 50.702 0 0 1 7.74-3.342M6.75 15a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Zm0 0v-3.675A55.378 55.378 0 0 1 12 8.443m-7.007 11.55A5.981 5.981 0 0 0 6.75 15.75v-1.5"
              fecha="sept. 2017 - jun. 2019"
            >
              <p class="text-base font-normal text-gray-500 dark:text-gray-400">
                Bachillerato de Ciencias y Tecnología
              </p>
            </TimeLineExperiencia>
            <TimeLineExperiencia
              titulo="Ling Ling Middle School, Shanghai, China"
              icono="M4.26 10.147a60.438 60.438 0 0 0-.491 6.347A48.62 48.62 0 0 1 12 20.904a48.62 48.62 0 0 1 8.232-4.41 60.46 60.46 0 0 0-.491-6.347m-15.482 0a50.636 50.636 0 0 0-2.658-.813A59.906 59.906 0 0 1 12 3.493a59.903 59.903 0 0 1 10.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.717 50.717 0 0 1 12 13.489a50.702 50.702 0 0 1 7.74-3.342M6.75 15a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Zm0 0v-3.675A55.378 55.378 0 0 1 12 8.443m-7.007 11.55A5.981 5.981 0 0 0 6.75 15.75v-1.5"
              fecha="sept. 2011 - jul. 2016"
            >
              <p class="text-base font-normal text-gray-500 dark:text-gray-400">
                Eduación Secundaria Obligatoria (ESO)
              </p>
            </TimeLineExperiencia>
          </ol>
        </div>
      </section>
      <section id="proyectos" class="mb-10">
        <h2 class="text-2xl font-bold mb-10">Proyectos</h2>
        <div class="grid grid-cols-2 gap-4">
          <ProjectCard
            titulo="Proyecto 1"
            descripcion="Descripción del proyecto 1"
            link="https://www.google.com"
          />
          <ProjectCard 
            titulo="Proyecto 2"
            descripcion="Descripción del proyecto 2"
            link="https://www.google.com"
          />
          <ProjectCard 
            titulo="Proyecto 3"
            descripcion="Descripción del proyecto 3"
            link="https://www.google.com"
          />
          <ProjectCard 
            titulo="Proyecto 4"
            descripcion="Descripción del proyecto 4"
            link="https://www.google.com"
          />
        </div>
      </section>
      <section id="contacto">
        <h2 class="text-2xl font-bold mb-10">Contáctame</h2>
        <ContactForm />
      </section>
    </main>
  </body>
  <Footer />
</html>

<style>
  body {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    font-size: 20px;
    line-height: 1.6;
  }
</style>
