---
---

<!-- Cuentas Github, Linkedin, etc -->
<div class="flex flex-row space-x-3 pt-3">
  <a href="https://github.com/josuejx" target="_blank" title="GitHub link">
    <i class="bi bi-github hover:text-slate-500 fill-current text-3xl"></i>
  </a>
  <a
    href="https://www.linkedin.com/in/josue-garcia-asensi/"
    target="_blank"
    title="LinkedIn link"
  >
  <i class="bi bi-linkedin hover:text-slate-500 fill-current text-3xl"></i>
  </a>
  <a href="mailto:josue.ga00@proton.me" title="Email link">
    <i class="bi bi-envelope hover:text-slate-500 fill-current text-3xl"></i>
  </a>
</div>
