---
interface Props {
	titulo: string;
	icono: string;
    fecha: string;
}

const { titulo, icono, fecha } = Astro.props;
---

<li class="mb-10 ms-8">
    <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-gray-200 dark:ring-gray-900 dark:bg-blue-900">
        <svg class="w-5 h-5 text-blue-800 dark:text-blue-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path d={icono}/>
        </svg>
    </span>
    <h3 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">{titulo}</h3>
    <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">{fecha}</time>
    <slot />
</li>